
.item-admin{
  border-bottom: 1px solid #ccc;
}
.sidebar{
  border-right: 1px solid #ccc;
  min-height: 100vh;
  &-wrapper{
    margin-bottom: 1rem;
  }
  &-main{
    color: red;
    padding-top: 2rem;
  }
  &-tile{
    font-weight: bold;
    font-size: 1.3rem;
  }
  &-link{
    text-decoration: none;
    color: green;
    :hover{
      color: red;
    }
  }
}

.avatar{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}