.card-content{
  align-items: center;
}
.text-name{
  font-size: 1.3rem;
}

.cicler{
  width: 1.6rem;
  height: 1.6rem;
  background-color: green;
  border-radius: 50%;
  text-align: center;
  margin-left: 5px;
}