.post-link{
  width: fit-content;
}

.image_slide{
  width: 100%;
  height: 300px;
  overflow: hidden;
  object-fit: cover;
  cursor: grab;
}

.avata > img{
 width: 10rem;
 height: 10rem;
 overflow: hidden;
 object-fit: cover;
}